
#header {
    background-image: url("http://www.bettyhallphotography.com/wp-content/uploads/2011/04/autumn-banner.jpg") ;
    background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
    background-attachment: fixed;
    font-family: Rockwell, Tahoma, Arial;
    color: #FFFFFF;
    display: block;
    padding: 100px 5px 10px 5px;

}

#header p{
  font-family: Arial, "Times New Roman";
  font-weight: bold;
}

#panel{
  background-color: #922724;
  font-family: Rockwell, Arial;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 15px 5px; 
}
form {
    position: relative;
    display: inline;
    color: white;
}
.dropdown{
  display: block;
  position: relative;
  
}
button:focus {
  outline:0;
}
.dropbtn{
  background-color: #FFFFFF; 
    border: none;
    color: #922724;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-family: Rockwell;
    font-weight: bold;
  font-size: 18px;
  border-radius: 7px;
    
}

.dropbtn:hover{
  color: #FFFFFF;
  background-color: #5D1917; 
}

.content{
  background-color: #FFFFFF; 
  border: none;
  color: #922724;
  padding: 5px 5px 5px 5px;
  margin: 0px 15px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  
  font-family: Rockwell;
  overflow: auto;
  position: relative;
  min-width: 20%;
  display: inline-block;
  font-size: 20px;
}
.content:focus{
  outline:0;
}
.dropdown:hover .content{
  display: inline-block;
  
}

 #displayBooks{
  font-family: Rockwell;
  border-color: #1B0807;
  border-style: solid;
  border-width: 3px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px ;
}
select:hover{
  background-color: #6B1D1B;
  color: #FFFFFF;
}
.eachBook{
    font-family: Rockwell;
  background-color: #FFFEFF;
  border-style: solid none solid none;
  border-color: #DDD;
  border-width: 2px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px ;
  overflow: auto;
}
.eachBook h4{
  font-size: 20px;
}

.bookImg{
    width: 150px;
    height:225px;
    overflow: auto;
    float: left;
    margin: 5px 5px 5px 5px ;
}

.checkout{
    background-color: #DDDDDD; 
    border: none;
    color: #922724;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Rockwell;
    font-weight: bold;
}

.checkout:hover{
  background-color: #922724;
  color: #FFFFFF;
}
.available{
  color: #2F2;
  font-weight: bold;
}

.unavailable{
  color: #F22;
  font-weight: bold;
}